.grid-container {
    display: grid;
    gap: 10px 10px;
    grid-template: 200px / auto auto auto;    
}

.content {
    padding-bottom: 100%;
    background-color: black;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    padding-bottom: 100%;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 2.8rem #bc13fe,
                inset 0 0 1.3rem #bc13fe;
}

.titleLogo {
    width: 100%;
    height: 300px;
}

.gameThumbnail {
    width: 100%;
    height: 200px;
    min-width: 200px;
    min-height: 100px;
    display: block;
    text-align: center;

    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 2.8rem #bc13fe,
                inset 0 0 1.3rem #bc13fe;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    height: 100%;
}

.bigboy {
    font-size: large;
}

.image {
    filter:grayscale(35%);
    object-fit: contain;
  }
.image:hover {
    filter: grayscale(0%)
}

.white {
    background: white;
    height: 100%;
}