.content {
    align-items: center;
    background-color: black;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 2%;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 2.8rem #bc13fe,
                inset 0 0 1.3rem #bc13fe;
}


.image{
    margin-right: 1%;
    position:relative;
    overflow:visible;
    padding-bottom: 30%;
    padding-right: 30%;
    padding-left: 2%;
}

.image img {
    position:absolute;
    object-fit: cover;
    overflow: hidden;
}

.gameThumbnail {
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 2.8rem #bc13fe,
                inset 0 0 1.3rem #bc13fe;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100% 100%;
    color: white;
}

.scoreText {
    overflow: visible;
    color: white;
    font-size: xx-large;
    animation: flicker 1.5s infinite alternate;
}

.scoretext {
    color: white;
    font-size: xx-large;
    animation: flicker 1.5s infinite alternate;
}

.image {
    filter:grayscale(35%);
    object-fit: contain;
}
.image:hover {
    filter: grayscale(0%)
}

table { 
    table-layout:fixed;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #0fa,
                0 0 0.8rem #0fa,
                0 0 2.8rem #0fa,
                inset 0 0 1.3rem #0fa;
}

td { 
    overflow: visible; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}


@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }